<!DOCTYPE html>
<html lang="en">
<head>
    <title>Diamond Magaement System</title>
</head>
<body>
   <H1>Hello, <%= name %></H1>
        <h1>Diamond Magaement System</h1>
    </div>
    <div>
        <a href="/crud" role="button">Diamond Magaement</a> <br>
        <br><br><br><br><br>
                <a href="/logout" role="button"style=" width:100px;">Logout</a>
        <!--<button onclick="location.href='/logout'" style="width:100px;">Logout</button>-->
    </div>
</body>
</html>
